#titulo {
    margin-left: 25px;
}
button {
    background-color: rgb(40, 40, 175); color: cornsilk;
     
}
h3 {
    margin-left: 25px;
}
#cart {
    margin-left: 25px;
}
img {
    max-width: 300px;
}